/* You can add global styles to this file, and also import other style files */
@import "~reset-css/reset.css";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

mat-card {
  cursor: pointer;
}

mat-card-footer {
  padding-top: 10px;
}
